/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* CSS for Aloha -----------------------------------------------------------------------------------------*/
body {
	font-family: Raleway;
}

h1 h2 h3 {
	font-family: Playfair Display; 
}
/* Header Section 	--------------------------------------------------------------------------------------*/
header {
	display: flex;
	height: 60px;
	margin-top: 10px;
}
.logo {
	display: flex;
	justify-content: flex-start;
	width: 15%;
	height: 50px;
	margin-left: 10px;
}
.cart {
	display: flex;
	justify-content: flex-end;
	align-content: center;
	width: 10%;
	height: 50px;
	margin-right: 10px;
}
#counter {
	justify-content: center;
	display: flex;
	align-items: center;
	background-color: red;
	border: 0px;
	border-radius: 100%;
	color: white;
	width: 25px;
	height: 25px;
}
.menu {
	display: flex;
	align-items: center;
	width: 75%;
	height: 50px;
}
.menu nav {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	color: #e2574c;
}
.menu a {
	margin-right: 15px;
	margin-left: 15px;
}
#logo {
	width: 127px;
	height: auto;
}
#cart {
	width: 45px;
	height: auto;
	justify-content: flex-end;
}
/* Banner Section 	------------------------------------------------------------------------------------*/
.banner {
	display: flex;
	height: 475px;
	background-image: url(./images/banner-girl.png), url(./images/flower-bkgd.jpg);
	background-size: contain, cover;
	background-repeat: no-repeat, no-repeat;
	background-position: center bottom, center;
	background-position-y: 95px, 0px;
	width: 100%;
	color: white;
}
.title {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
	justify-content: center;
}
.title h1 {
	font-size: 40px;
}
.title h2 {
	font-size: 22px;
}
/* "Hand-Crafted Styles" section	------------------------------------------------------------------ */
.styles {
	display: flex;
	height: 250px;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.styles h1 {
	font-size: 30px;
	font-style: italic;
	font-family: Playfair Display;
	margin-bottom: 25px;
}
.styles span {
	font-style: normal;
	font-weight: bold;
}
.styles p {
	text-align: center;
}
/* Items section	-------------------------------------------------------------------------------- */
.items {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	box-sizing: border-box;
}
.items div {
	box-sizing: border-box;
	background-size: cover;
	height: 220px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 30px;
	border-style: solid;
	border-color: white;
}
.mens {
	background-image: url(./images/mens-category.jpg);
	background-size: cover;
	width: 50%;
	border-width: 0px 2px 2px 0px;
}
.trends {
	background-image: url(./images/trends-category.jpg);
	background-size: cover;
	width: 25%;
	border-width: 0px 2px 2px 2px;
}
.glasses {
	background-image: url(./images/glasses-category.jpg);
	background-size: cover;
	width: 25%;
	border-width: 0px 0px 2px 2px;
}
.sale {
	background-image: url(./images/sale-category.jpg);
	background-size: cover;
	width: 25%;
	border-width: 2px 2px 0px 0px;
}
.bags {
	background-image: url(./images/bags-category.jpg);
	background-size: cover;
	width: 25%;
	border-width: 2px 2px 0px 2px;
}
.womens {
	background-image: url(./images/womens-category.jpg);
	background-size: cover;
	width: 50%;
	border-width: 2px 0px 0px 2px;
}
/* Shopping Section section 	---------------------------------------------------------------------*/
.container h1 {
	font-size: 30px;
	font-style: italic;
	font-family: Playfair Display;
	text-align: center;
	margin-top: 25px;
}
.container span {
	font-style: normal;
	font-weight: bold;	
}
.container h2 {
	font-size: 25px;
	color: #e2574c;
	font-weight: bold;
}
.scroll div {
	text-align: center;
	width: 100%;
}
.scroll {
	display: flex;
	flex-wrap: wrap;
}
button {
	background-color: black;
	border: 0px;
	border-radius: 15px;
	color: white;
	padding: 5px 20px;
	margin-top: 10px;
}
/* Sign-up section 	------------------------------------------------------------------------------------      */
.signup {
	background-image: url(./images/wave-bkgd.jpg);
	background-size: cover;
	background-position: bottom;
	margin-top: 20px;
	margin-bottom: 10px;
	color: white;
}
.signup div {
	width: 100%;
	height: 250px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.signup h1 {
	font-size: 35px;
	font-style: italic;
	font-family: Playfair Display;
}
.signup span {
	font-style: normal;
	font-weight: bold;	
}
.signup .subscribe {
	display: inline-block;
	background-color: white;
	height: 38px;
	width: auto;
	border-radius: 20px;
}
.input {
	border: none;
	padding: 10px;
	border-radius: 20px;
	color: #969696;
}
.button {
	background-color: red;
	color: white;
	text-align: center;
	border: none;
	font-size: 16px;
	padding: 10px 30px;
	border-radius: 20px;
	margin: 0px;
}
/* Footer Section 	--------------------------------------------------------------------------------------*/
footer {
	display: flex;
	background-color: #242424;
	color: white;
	}
.info {
	height: 250px;
	width: 100%;
	display: flex;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-right: 60px;
	margin-left: 30px;
}
.contact {
	display: flex;
	width: 50%;
	justify-content: flex-start;
	align-items: center;
}
.social {
	display: flex;
	width: 50%;
	justify-content: flex-end;
	margin-bottom: 60px;
	margin-top: 60px;
}
.social nav {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.contact span {
	color: #969696;
}
#facebook:before {
	font-family: "Font Awesome 5 Brands";
	content: "\f39e";
	margin-right: 25px;
}
#twitter:before {
	font-family: "Font Awesome 5 Brands";
	content: "\f099";
	margin-right: 16px;
}
#instagram:before {
	font-family: "Font Awesome 5 Brands";
	content: "\f16d";
	margin-right: 20px;
}
#pinterest:before {
	font-family: "Font Awesome 5 Brands";
	content: "\f0d3";
	margin-right: 19px;
}
#google:before {
	font-family: "Font Awesome 5 Brands";
	content: "\f0d5";
	margin-right: 12px;
}
/* Breakpoints	------------------------------------------------------------------------------------------- */

@media all and (max-width: 600px) {

/* header */
header {
	display: flex;
	flex-wrap: wrap;
	height: 95px;
	margin-top: 10px;
	justify-content: space-between;
}
.logo {
	display: flex;
	width: auto;
}
.menu {
	display: flex;
	order: 2;
	align-items: center;
	width: 100%;
	height: 50px;
}
.menu nav {
	display: flex;
	width: 100%;
	justify-content: space-around;

}
.menu a {
	margin: 0;
}
.cart {
	display: flex;
	width: auto;
}
/* items */
.mens {
	width: 100%;
	border-width: 0px 0px 2px 0px;
}
.trends {
	width: 50%;
	border-width: 2px 2px 2px 0px;
}
.glasses {
	width: 50%;
	border-width: 2px 0px 2px 2px;
}
.sale {
	width: 50%;
	border-width: 2px 2px 2px 0px;
}
.bags {
	width: 50%;
	border-width: 2px 0px 2px 2px;
}
.womens {
	width: 100%;
	border-width: 2px 0px 0px 0px;
}
/* banner */
.title h1 {
	display: flex;
	flex-direction: column;
	text-align: center;
}
/* sign-up */
.signup {
	background-size: unset;

}
/* footer */
.info {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 10px;
	margin-left: 0px;
    margin-right: 0px;
}
.contact {
	margin-top: 75px;
	text-align: center;
}
.social {
	display: flex;
	margin-bottom: 0px;
	width: 100%;
	justify-content: center;
}
.social nav {
	display: flex;
	flex-direction: row;
	margin-top: 20px;
	margin-bottom: 20px;
}
.social span {
	display: none;
}
}
/* media query for tablet */
@media all and (min-width: 601px)  {

}